ul.posts > li                                          { margin-bottom: .5rem; }
  ul.posts > li:last-child                             { margin-bottom: 0; }
  ul.posts > li > ul > li.overflow-hidden p:last-child { margin-bottom: 0; }

div.progress.short    { height: 1.25rem; }
